body {
  margin: 0;
}

header img {
  width: 75px;
  height: 75px;
  margin: 5px 0px 5px 15px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  column-gap: 15px;
  margin-right: 15px;
  font-size: 1.2rem;
  font-weight: 700;
}

footer {
}
